/* ---- reset ---- */

body {
  margin: 0;
  font: normal 1.2rem Helvetica;
}

canvas {
  vertical-align: bottom;
}

/*----nav-----*/
nav {
  height: 5rem;
}

nav ul {
list-style-type: none;
background: white;

}

nav ul li {
  color: white;
  font-size: 1.1rem;
  float: right;
  padding: .5rem;
  position: fixed;
  right: 5rem;
}

nav ul li:nth-child(2){
position: fixed;
right: 12rem;
}

/* ---- welcome- index ---- */

h1  {
  position: absolute;
  color: white;  
  top: 35%;
  left: 50%; 
  transform: translateY(-75%) translateX(-50%);
  text-align: center; 
  // padding: 6rem; // padding: 6rem 0;
  }

h2, h4 {
  display: inline;
    font-family: 'Hind', sans-serif;

  /*float: right;*/
}

h3 {
  color: #17182f;
  display: inline;
  position: absolute;
   top: 60%;
  left: 50%; 
  transform: translateY(-75%) translateX(-50%);
  text-align: center; 
  // padding: 6rem; // padding: 6rem 0;
  
}

h3.txt-type > .txt {
border-right: .5rem solid #c1440e;
display: inline;
}

mark {
    color: #17182f;
    background-color: #c1440e;
  }
.txt-type {
  font-size: 1.1rem;
  margin: 0; 
  padding: 0;
  display: inline-block;
    opacity: .8;

}

.search {
  line-height: 1.5rem;
  height: 3rem; 
  width: 27rem; 
  background: white;
  position: absolute;
   top: 60%;
  left: 50%; 
  transform: translateY(-75%) translateX(-50%);
  text-align: center; 
  border-radius: 3rem;
  box-shadow: 0 1rem 2rem rgba(black, .1); 
}

.button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: .5rem;

  right: 1rem;

}




/* ---- intro index ---- */

.intro-block {
  display: grid;
  grid-template-columns: 30% 70%;
  /*background-color: white /*f5f5dc*/
  background-color: rgba(255, 255, 255, 0.8);
}


.intro {
  float: left;
  margin: 5rem 5rem;
    margin: 2rem;


}

.intro h4 {
  margin-top: 2rem;
}

#intro-2 {
  /*max-width: 270px;*/
  position: relative;
  right: 5rem;
  margin-top: 2rem;
  /*padding: 0.5rem;*/
}

.intro-h2 {
margin-top: 2rem;
font-size: 1.5rem; 
}

#img {
  width: 12rem; 
  height: 12rem;
  margin: 2rem;
  border-radius: 50%;
  border: 5px solid #ddd;
  float: right;
}


/*-----------CHART------------*/
#myChart {
position: relative;
top: 10rem;
}

.chart-h2 {
  display: inline;

}

.chart-block {
  position: relative; 
  bottom: 200px;
}

#chart-pie {
  position: relative;
  top: 250px;
  width: 44%; 
  margin: 15px auto; 
}

#chart-donut {
 width: 80%;
margin: 15px auto;"
}


/* ---- particles.js container ---- */

#particles-js, .particles-js {
  /*position: relative;*/
  width: 100vw;
  height: 100vh;
  background-color: #17182f;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  margin-top: -100px;

}

@media only screen and (max-width: 400px) {
  h1 { 
font-size: 1.4rem;  
}
  
}
/* ---- stats.js ---- */


.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

