/* ---- reset ---- */
html {
  margin: 0 auto;
  /*border: 1px solid red;*/
}

body {
  margin: 0 auto ;
  font: normal 1.2rem Helvetica;
}

canvas {
  vertical-align: bottom;
}

/*----nav-----*/
nav {
  background-color:  #17182f;
  height: 5rem;
  /*position: absolute;*/
}

nav ul {
list-style-type: none;
background: white;

}

nav ul li {
  color: white;
  font-size: 1rem;
  float: right;
  padding: .5rem;
  position: relative;
  right: 10%;
}

nav ul li:nth-child(2){
/*position: fixed;*/
right: 10%;
}

/* ---- welcome- index ---- */

h1  {
  position: absolute;
  color: white;  
  top: 45%;
  left: 50%; 
  transform: translateY(-75%) translateX(-50%);
  text-align: center; 
  padding: 6rem 0;
  }

h2, h4 {
  display: inline;
    font-family: 'Hind', sans-serif;
}

.email {
  position: absolute;
  margin-top: 6rem;
  top: 60%; 
  left: 50%;
  padding: 1rem;
  background-color: #c1440e;
  color: #17182f;
  border: 1px solid grey;
  border-radius: 6px;
  transform:translateY(-75%) translateX(-50%);
}

.email p {
  font-size: 1rem;
  display: inline;
}

h3 {
  color: #17182f;
  display: inline;
  position: absolute;
   top: 60%;
  left: 50%; 
  transform: translateY(-75%) translateX(-50%);
  text-align: center; 
  // padding: 6rem; // padding: 6rem 0;
  
}

h3.txt-type > .txt {
border-right: .5rem solid #c1440e;
display: inline;
}

mark {
    color: #17182f;
    background-color: #c1440e;
  }
.txt-type {
  font-size: 1.1rem;
  margin: 0; 
  padding: 0;
  display: inline-block;
    opacity: .8;

}

.search {
  margin-top: 2rem;
  line-height: 1.5rem;
  height: 3rem; 
  width: 30%; 
  background: white;
  position: absolute;
  top: 55%;
  left: 50%; 
  transform: translateY(-75%) translateX(-50%);
  text-align: center; 
  border-radius: 3rem;
  box-shadow: 0 1rem 2rem rgba(black, .1); 
}

.button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: .5rem;

  right: 1rem;

}




/* ---- intro index ---- */

.intro-block {
  background-color: rgba(255, 255, 255, 0.8);
  /*margin: 2rem;*/
}

#intro-1 {
 float: left;

}

.intro {
  margin: 2rem 2rem;
}

.intro h4 {
  color: #17182f;
}

.intro-2-p{
  font-size: 1.125rem;
}


.intro-h2 h2 {
color: #17182f;
}



#img {
  width: 12rem; 
  /*height: 12rem;*/
  border-radius: 50%;
  /*border: 5px solid #ddd;*/
}


/*-----------CHART------------*/
.chart-block {
  position: relative;
  height: 12vh;
}

#chart-pie, #chart-donut, #chart-donut2, .labels {
    position: absolute;
    margin: 0 15vw;
    width: 70vw;
}

#chart-donut2 {
  z-index: 0;

}

#chart-donut {
  /*width: 33vw;*/
  z-index:0;
}

#chart-pie{
  /*width: 45rem; */
  z-index: 0;
}


.span {
  font: Helvetica;
}

/*******SOCIAL*******/

.social {
  padding-inline-start:0px; 
  /*margin: 0 auto;*/
  display: grid;
  grid-template-columns: 1fr 60px 1fr; 
  padding: 5px;
/*  border: 1px solid green;
*/  position: relative;
  top: 85vh;

}

.grid1 {
  justify-self: end;
}

.grid2 {
  justify-self: center; 
}

.grid3 {
  justify-self: start;
}

.fab {
  color: #17182f;
  float: left;
  position: relative;
  /*top: 85vh;*/
  /*border: 1px solid red;*/
 


}
/***TOOL TIPS****/
.con-tooltip {
  position: absolute;
  color: #17182f;
  display: inline;
  transition: all 0.3s ease-in-out;
  cursor: default;
  font-style: 'Helvetica';
}

.con-tooltip:hover {
 color: #c1440e;
}




#coding {
    position: absolute;
    left: 21.5vw;
    top: 15vw;
    font-size: 1.75vw;
    color: grey;
     /* transform: translateY(225%) translateX(-15%);
      font-size: 1.5rem;
      color: white;*/
}

#fitness {
   position: absolute;
    left: 36vw;
    top: 24vw;
    font-size: 1.75vw;
    color: grey;
     /* transform: translateY(310%) translateX(210%);
      font-size: 1.5rem;
      color: white;*/
}

#writing {
    position: absolute;
    left: 43vw;
    top: 16vw;
    font-size: 1.75vw;
    color: grey;
      /*transform: translateY(200%) translateX(325%);
      font-size: 1.5rem;
      color: white;*/
}

#reading {
   position: absolute;
    left: 42vw;
    top: 9vw;
    font-size: 1.75vw;
    color: grey;
     /* transform: translateY(100%) translateX(335%);
      font-size: 1.5rem;
      color: white;*/
}

#travel {
   position: absolute;
    left: 36vw;
    top: 3vw;
    font-size: 1.75vw;
    color: grey;
     /* transform: translateY(35%) translateX(240%);
      font-size: 1.5rem;
      color: white;*/
}

.con-tooltip p {
color: white;
}

.con-tooltip p:hover {
  color: #17182f;
  /*#c1440e*/
}

.p-special b:hover {
  color:  #c1440e;
}

#learning {
    /*transform: translateY(25%) translateX(-100%);*/
    position: absolute;
    top: 6vw;
    left: 9vw;
    font-size: 3vw;
  
}

.special2 p {
  color: #ddd;
}

.special2 p:hover {
  color: white;
}

#finance {
   position: absolute;
    left: 30vw;
    top: 12.5vw;
    font-size: 1vw;
    color: grey;
    /*transform: rotate(-60deg);*/
     font-style: 'Hind';
  /* transform: translateY(200%) translateX(55%);
      font-size: .9rem;*/
}

#startup {
  position: absolute;
    left: 35vw;
    top: 17vw;
    font-size: 1vw;
    color: grey;
     font-style: 'Hind';
 /* transform: translateY(350%) translateX(125%);
  font-size: 1rem;*/
}

.p-special b {
  color: #17182f;
}

.tooltip {
  visibility: hidden;
  width: 300px;
  z-index: 1;
  opacity: .40;
  text-align: justify;
  padding: 0 .5rem;
  background: #c1440e;
  color: white;
  border-radius: 9px;
  font-size: .5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
  position: absolute;
  top: 75%;
  left:20%;
  transform: translateY(90px);
}



.special {
  background-color:  #17182f;
}


.tooltip::after {
  content: " ";
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  top: -10%;
  left: 25%;

}


.con-tooltip:hover .tooltip{
  visibility: visible;
  font-size: 12px;
  transform: translateY(-10px);
  opacity: 1;
  transition: .3s linear;
  animation: odsoky 1s ease-in-out infinite  alternate;
}

@keyframes odsoky {
  0%{
    transform: translateY(6px); 
  }

  100%{
    transform: translateY(1px); 
  }

}

/* ---- particles.js container ---- */

#particles-js, .particles-js, #particles-js2 {
  /*position: relative;*/
  width: 100vw;
  height: 92.5vh;
  background-color: #17182f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  margin-top: -100px;

}

#particles-js2 {
  height: 85vh;
  color: white;
  margin-top: 1rem;
}

@media only screen and (max-width: 975px) {
 #chart-pie, #chart-donut, #chart-donut2 {
    position: absolute;
    margin: 0 auto;
    width: 100vw;
}

#learning {
    /*transform: translateY(25%) translateX(-100%);*/
    position: absolute;
    top: 3vw;
    left: -3vw;
    font-size: 4.5vw;
 
}


#coding {
    position: absolute;
    left: 15vw;
    top: 18vw;
    font-size: 3vw;
     /* transform: translateY(225%) translateX(-15%);
      font-size: 1.5rem;
      color: white;*/
}

#fitness {
   position: absolute;
    left: 36vw;
    top: 33vw;
    font-size: 3vw;
    
}

#writing {
    position: absolute;
    left: 45vw;
    top: 22vw;
    font-size: 3vw;
    
}

#reading {
   position: absolute;
    left: 45vw;
    top: 12vw;
    font-size: 3vw;
     /* transform: translateY(100%) translateX(335%);
      font-size: 1.5rem;
      color: white;*/
}

#travel {
   position: absolute;
    left: 36vw;
    top: 6vw;
    font-size: 3vw;
     /* transform: translateY(35%) translateX(240%);
      font-size: 1.5rem;
      color: white;*/
}

#finance {
   position: absolute;
    left: 27vw;
    top: 18vw;
    font-size: 2vw;
     font-style: 'Hind';

}

#startup {
  position: absolute;
    left: 30vw;
    top: 27vw;
    font-size: 2vw;
    color: grey;
     font-style: 'Hind';
}

  h1 {
    font-size: 1.5rem;
    padding: 3rem 0;
  }

  .search {
  /*margin-top: -0.5rem;*/
  width: 18rem; 
}

.txt-type{
  margin-top: 5px;
  font-size: .8rem;
}


.email {
  transform:translateY(-50%) translateX(-50%);
  margin-top: 4rem;
}


.intro-block {
  display: grid; 
  grid-template-columns: 1fr; 
}

.intro {
  margin: 1rem 1rem;
}

#intro-1  {
  justify-self: center;
}

#intro-1 img {
/*width: 9rem;*/
}

.intro-2-p{
  font-size: 1rem;
}
.intro-h2 {
  text-align: center;
}

}

@media only screen and (max-width: 375px) {

  .special2 p {
  color: #17182f;
}

  .special2 p:hover {
  color: #17182f;
}

nav ul li {
  font-size: 0.8rem;
}
  h1 { 

font-size: 1.4rem;  
top: 45%;
padding: 6rem 0;
}

.search {
  margin-top: 1rem;
  width: 15rem;
}

.email {
  padding: 0.5rem;
}

.email p {
  font-size: 0.8rem;
  padding: 0.25rem;
  display: inline;
}

.button {
  width: 1.5rem;
  height: 1.5rem;
  top: .35rem;
}

.txt-type{
  margin-top: 5px;
  font-size: .6rem;
}

.intro {
margin: 1rem auto;
}

.intro-block {
  grid-template-columns: 1fr;
}

#intro-1 img {
/*  height:9rem;
*/  width: 9rem;
}

.intro-h2 {
  font-size: 1.1rem;
  text-align: center;
}

#intro-2 {
  margin: 0 0rem;
}


#intro-2 h4 {
   font-size: .9rem;

}



}

/* ---- stats.js ---- */

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/*******SOCIAL**********/


}

/*.grid-1 {
  justify-self: end;
  align-self: end;
}

.grid-2 {
  justify-self: start;
}*/
i {
 color: white;
}